body{
	background-color: #505050;
	margin: 18px 0 0 8px;
}

.website {
    margin: 0 auto;
    width: 1421px;
}

header{
	background-color: #909090;
	position: relative;
	width: 1421px;
	height: 137px;
	border-radius: 9px;
	margin: auto;
	box-shadow: 9px 9px 9px;
}

header img.day42{
	margin: 8px 8px 8px 8px;
	height: 110px;
}

header img.loupe{
	height: 107%;
	position: absolute;
	top: 10px;
	right: 30px;
}

header img.refresh{
	height: 20px;
	position: absolute;
	top: 7px;
	right: 7px;
}

header img.close{
	height: 20px;
	position: absolute;
	bottom: 7px;
	right: 7px;
}

.leftbox{
	background-color: #909090;
	float: left;
	position: relative;
	height: 424px;
	width: 139px;
	margin-left: 28px;
	margin-top: 20px;
	border-radius: 9px;
	box-shadow: 9px 9px 9px;
}

.fleche{
	width: 70px;
	height: 70px;
	margin-left: 32px;
	margin-top: 12px;
}

.main{
	width: 70px;
	height: 70px;
	margin-left: 32px;
	margin-top: 5px;
}

.oeil{
	width: 70px;
	height: 70px;
	margin-left: 34px;
	margin-top: 3px;
}

.outil{
	width: 70px;
	height: 70px;
	margin-left: 32px;
	margin-top: 3px;
}

.msg{
	width: 70px;
	height: 70px;
	margin-left: 32px;
	margin-top: 3px;
}

.rightbox{
	background-color: #909090;
	float: left;
	position: absolute;
	height: 424px;
	width: 139px;
	margin-left: 1252px;
	margin-top: 20px;
	border-radius: 9px;
	box-shadow: 9px 9px 9px;
}

.book{
	width: 52%;
	margin-left: 32px;
	margin-top: 14px;
}

.towel{
	width: 52%;
	margin-left: 32px;
	margin-top: 10px;
}

.wall{
    background-image: url('resources/brick.jpg');
    width: 120px;
    height: 70px;
    margin-left: 10px;
    margin-top: 2px;
}

.centerbox{
	float: left;
	width: 1018px;
	height: 581px;
	margin-left: 22px;
	margin-top: 20px;
}

.cluster{
	border: solid 10px #909090;
	border-radius: 9px;
	box-shadow: 9px 9px 9px;
}

.megatron{
	border: solid 10px #909090;
	border-radius: 9px;
	box-shadow: 9px 9px 9px;
	width: 100%;
}

.textbox{
    background-color: #88ff89;
    border-radius: 12px;
    box-shadow: 9px 9px 9px;
    width: 510px;
    height: 152px;
    position: absolute;
    top: 526px;
    left: -1300px;
    font-family: "Arial";
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px;
}

.bold{
	font-family: Times;
	font-size: 31px;
}

.shadow{
    text-shadow: 4px 4px 8px #ff0000;
}

.italic{
	font-style: italic;
}

form input[type="text"] {
    margin-left: 2px;
    width: 376px;
    border: 2px solid #9d969d;
    border-bottom-color: #eeeeee;
    border-right-color: #eeeeee;
    height: 15px;
}

form input[type="submit"] {
    border: 1px solid #a8a4a5;
    border-radius: 1px;
    background-color: #f4eff3;
    background: #0079FF;
    letter-spacing: 0.5px;
    margin-left: 4px;
    height: 22px;
    font-size:12px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4eff3), to(#dcdcdc));
}